.navbar{
    background-color: white;
    height: 95px;
}
.navbar-brand{
    font-weight: 500;
    font-size: 35px;
    color: #b8b8b8;
}
.navbar-toggler{
    margin-left: auto;
    border: none;
}

.btn-primary{
    background-color: transparent;
    border: none;
}
.btn-primary:focus {
    color: black;
    background-color: transparent;
    border-color: white;
    box-shadow:none;
}
.show>.btn-primary.dropdown-toggle {
    color: black;
    background-color: transparent;
    border-color: transparent;
}
.dropdown-toggle::after {
    display: none;
    margin-left: 0.255em;
    vertical-align: 0.255em;
    content: "";
    border-top: 0.3em solid;
    border-right: 0.3em solid transparent;
    border-bottom: 0;
    border-left: 0.3em solid transparent;
}
.navbar-light .navbar-toggler-icon {
    background-image: url(assets/bars-solid.svg);
}

.blue{
    display: flex;
    align-items: center;
    justify-content: end;
    background-color:#4abed7;
    padding-right: 110px;
    height: 700px;
}
.greyy{
    background-color:transparent;
}
.beach-girl{
width: 70%;
border-radius: 70px;
position: absolute;
top: 100px;
box-shadow: 2px 2px 20px #afb9bb;
}
.relax{
    background-color: white;
    border-radius: 50px;
    padding: 50px;
    position: absolute;
    top: 300px;
    right: 95px;
    width: 168%;
    box-shadow: 2px 2px 20px #d7d7d7;

}
.relax h6{
    font-size: 25px;
    letter-spacing: 1px;
}

.relax h1{
    font-size: 4.5rem;
    font-weight: 700;
    color: #fc6b2a;
}
.relax p{
    font-size: 20px;
    font-weight: 500;
}
.relax button{
    background-color: #4abed7;
    border: none;
    width: 45%;
    height: 55px;
    border-radius: 40px;
    color: white;
    font-weight: 500;
    font-size: 20px;
}

.Service{
    padding-top: 400px;
    height: 750px;

}
.services{
    text-align: center;
}
.services h1{
    font-size: 60px;
    font-weight: 700;
    color: #f26f32;
}

.service-row{
    display: flex;
    justify-content: center;
}

/* .service-row :nth-child(2n+1){
        position: relative;
        top: 20px;
} */

.service-card1{
    position: relative;
        top: 100px;
}

.service-card{
    background-color: white;
    border-radius:20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 370px;
    max-width: 21%;
    /* justify-content:center; */
    /* text-align: center; */
}
.service-icon-bg{
    background-color: #fe6b27;
    height: 75px;
    width: 75px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.service-card h5{
    font-weight: 700;
}
.service-card p{
    font-size: 18px;
    font-style: italic;
    width: 80%;
}
.service-card a{
    color: black;
    font-size: 19px;
    text-decoration: underline;
}
.destinations{
    /* height: 800px; */
    background-color: #4abed7;
    padding-top: 450px;
    padding-bottom: 70px;
}
.dest-head{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}
.dest-head h1{
    font-size: 55px;
    font-weight: 700;

}
.dest-head p{
    width: 50%;
    font-size: 20px;
    color: #8ee4f4;
}
.dest-row{
    display: flex;
    justify-content: center;
}

.dest-col img{
    width: 70%;
    border-radius: 50%;
}
.dest-col{
    max-width: 22%;
    background-color: white;
    text-align: center;
    border-radius: 30px;
    border-top:8px solid #fe6b27;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.dest-col h5{
    font-size: 26px;
    font-weight: 700;
}
.dest-col p{
    font-size: 20px;
    font-style: italic;
    width: 80%;
}
.dest-col a{
    color: black;
    text-decoration: underline;
}

.vacation{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 700px;
}
.vacation :nth-child(1){
    font-size: 60px;
    font-weight: 700;
    color: #f26f32;
}
.vacation :nth-child(2){
    font-size: 23px;
    font-weight: 500;
    color: #a2a2a2;
    width: 43%;
}
.vacation :nth-child(3){
    font-size: 23px;
    font-weight: 500;
    width: 80%;

}
.vacation :nth-child(4){
    border: none;
    font-size: 18px;
    font-weight: 600;
    background-color: #4abed7;
    width: 15%;
    height: 55px;
    color: white;
    border-radius: 25px;
}
.sunny-img{
    width: 70%;
    border-radius: 40px;
    z-index: 1;
    position: absolute;
    left: 70px;
    top: 100px;
}

.sunny{
    position: relative;
    width: 100%;
    height: 900px;

}
 .sunny::before{
    content:"";
    position: absolute;
    background-color: #b0e3ed;
    border-radius: 40px;
    height: 600px;
    width: 1100px;
    z-index: 0;
    right: 40px;
}
 .sunny-content{
    position: absolute;
    background-color: white;
    border-radius: 40px;
    height: 485px;
    width: 650px;
    right: 140px;
    z-index: 3;
    top: 235px;
    box-shadow: 2px 2px 20px #d7d7d7;
    padding: 40px;
}

.sunny-content h1{
    font-size: 45px;
    font-weight: 700;
    color:#4abed7;
}
.sunny-content p{
    font-size: 19px;
}
.sunny-content button{
    border: none;
    background-color: #4abed7;
    height: 50px;
    color: white;
    width: 40%;
    border-radius: 25px;
    font-size: larger;
    font-weight: 500;
}

/* .Road-trip{
    margin-bottom: 100px;
} */
.road{
    background-color: #4abed7;
    /* height: 800px; */
    /* width: 100%; */
}
/* .road::before{
    content:" ";
    background-color: #4abed7;
    height: 800px;
    width: 100%;
    position: absolute;
    z-index: -1;
} */


.road-head{
    
    display: flex;
    justify-content: center;
    align-items:center;
    height: 325px;
}
.road-head h1{
    color: white;
    font-size: 83px;
    font-weight: 700;
}

.road-col-left{
    display: flex;
    justify-content: end;
    }

    .road-col-left img{
        height: fit-content;
    }
.road-row img{
    width: 78%;
    border: 20px solid white;
    border-radius: 65px;
}
.road-text{
    margin-top: 105px;
    width: 70%;
    color: #c2ffff;
}
.road-text :nth-child(1){

    font-size: 19px;
    font-weight: 500;
}
.road-text :nth-child(2){
    font-size: 19px;
    font-weight: 300;
}

.ocean-img{
    width: 69%;
    height: 79%;
    border-radius: 40px;
    z-index: 1;
    position: absolute;
    left: 346px;
    top: 100px;
}

.Ocean{
    margin-top: 115px;
}

.ocean{
    position: relative;
    width: 100%;
    height: 900px;

}
 .ocean::before{
    content: "";
    position: absolute;
    background-color: #b0e3ed;
    border-radius: 40px;
    height: 600px;
    width: 1080px;
    z-index: 0;
    left: 208px;
}
 .ocean-content{
    position: absolute;
    background-color: white;
    border-radius: 40px;
    height: 380px;
    width: 522px;
    left: 5px;
    z-index: 3;
    top: 235px;
    box-shadow: 2px 2px 20px #d7d7d7;
    padding: 40px;
    text-align: center;
}

.ocean-content h1{
    font-size: 45px;
    font-weight: 700;
    color:#4abed7;
}
.ocean-content p{
    font-size: 19px;
}
.ocean-content button{
    border: none;
    background-color: #4abed7;
    height: 50px;
    color: white;
    width: 60%;
    border-radius: 25px;
    font-size: larger;
    font-weight: 500;
}

.Nature{
    height: 960px;
    background-color: #4abed7;
}

.nature{
    position: relative;
    width: 100%;
    height: 995px;
    margin-top: 460px;
}

.nature-img img{
    width: 74%;
    position: absolute;
    left: 165px;
    border-radius: 60px;
    height: 70%;
    bottom: 460px;
}
.nature-content1{
    height: 450px;
    width: 662px;
    background-color: white;
    position: absolute;
    bottom: 890px;
    left: 85px;
    border-radius: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.nature-content1 h1{
    font-size: 75px;
    color: #4abed7;
}
.nature-content1 p{
 font-size: 22px;
}
.nature-content2{
    height: 410px;
    width: 1125px;
    background-color: white;
    position: absolute;
    top: 460px;
    right: 85px;
    border-radius: 60px;
}

.nature-content2 p{
    font-size: 27px;
    color: #a7a7a7;
}

.social-icons{
    color: #fc6b2a;

}

.form-group label{
font-size: 24px;
font-weight: 400;
}
.contact button{
    border: none;
    background-color: #fc6b2a;
    width: 100%;
    color: white;
    font-size: 22px;
    height: 60px;
    border-radius: 30px;
    font-weight: 400;
}

.footer{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 160px;
    background-color: #313131;
}
.footer p{
    color: #afb9bb;
    font-size: 18px;
    width: 30%;
}